<li id="comment-<%= comment._id %>">
    <p>
        <%= comment.content %>
        <span style="font-size: 18px;">
            <% if (locals.user){ %>
                <a style="color: rgb(92, 92, 255); position: relative; left: -30px;" href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
                    class="toggle-like-button" data-likes="<%= comment.likes.length %>">
                    <i style=" color: rgb(92, 92, 255);" class="far fa-thumbs-up"></i>
                        <%= comment.likes.length %>
                </a>
            <% }else{ %>
                <%= comment.likes.length %> <i style=" color: rgb(92, 92, 255);" class="far fa-thumbs-up"></i>
            <% } %>
        <br>
        <small>
            <i style="color: gray;" class="far fa-id-badge"></i>
            <%= comment.user.name %>
        </small>
        <% if(locals.user && locals.user.id==comment.user.id){%>
            <small>
                <a  class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">
               <i style=" color: red" class="fas fa-trash-alt"></i>
               </a>
            </small>
              <%}%>
    </p>    

</li>
  