
<li id="post-<%= post._id %>" style="margin-top: 80px;">
    
   <% if(post.pic){%>
        <img class="post-image" style=" box-shadow: 4px 4px 7px 7px gray;" src="<%=post.pic%>" alt="" height="350" width="350">
    <p>
        <big style="font-size: 30px;">
            <%= post.content %>
            <span style="font-size: 30px;">     
        </big>
        <br style="height: 5px;">
        <small style="color: gray;">
            <i class="far fa-id-badge"></i>
            <%= post.user.name %>
        </small>
      
    </p>
    
    <%}else{%>
        <p>
            <big style="font-size: 30px;">
               <%= post.content %> 
            </big> 
            <br style="height: 5px;">
            <small style="color: gray;">
                <i class="far fa-id-badge"></i>
                <%= post.user.name%>
            </small>
           
        <%}%>
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST" id="post-<%=post._id%>-comments-form" >
                <input id="comment-data" type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <button type="submit"> <i class="far fa-comment"></i></button>
            </form>
        <%} %>
        <span style="position: relative; bottom: 20px;">
            <%if(locals.user && locals.user.id==post.user.id){%>
                <a class="delete-post-button" href="/posts/destroy/<%=post.id%>"> <i style="color: red;" class="fas fa-trash-alt"></i></a>
            
                <a style="margin-left: 10px;" href="/likes/toggle/?id=<%=post._id%>&type=Post"
                    class="toggle-like-button" data-likes="<%= post.likes.length %>">
                    
                    <i style=" color: rgb(92, 92, 255);" class="far fa-thumbs-up"></i> <%= post.likes.length %>
                </a>
        
            <% }else{ %>
                
                <a style="margin-left: 10px; position: relative; bottom: 23px;" href="/likes/toggle/?id=<%=post._id%>&type=Post"
                    class="toggle-like-button" data-likes="<%= post.likes.length %>">
                    
                    <i style=" color: rgb(92, 92, 255);" class="far fa-thumbs-up"></i> <%= post.likes.length %>
                </a>
            <% } %>
            
        </span>
                   


            <div class="post-comments-list">
                <ul  id="post-comments-<%= post._id %>" >
                    <% for (comment of post.comments){%>
                       
                      <%- include('_comments') -%>

                    <% } %>
                </ul>
            </div>
       
        
</li>
