<link rel="stylesheet" href="<%=assetPath('css/home.css')%>">
<div class="all-container">

    <section id="user-friends">
        <h1 class="heading"><i style="color: #ffc401da; margin-right: 7px;" class="fas fa-user-friends"></i>Friends</h1>
        <div id="friend-container">
            <ul>
        <%for(u of all_users) {%>
        <p class="friends">
     <li>

         <%if(u.online){%>
         <span <i style="font-size: 15px; color: green;" class="fas fa-circle"></i></span>
         <%}else{%>
            <span <i style="font-size: 15px; color:red;" class="fas fa-circle"></i></span>
            <%}%>

        <%if(u.avatar){%>
        <img src="<%=u.avatar %>" alt="" width="25" height="25"> 
        <span><a  class="chat-button" href="/chat/<%= u.id%>" > <%=u.name%> </a>  </span>
        <%}else{%>
            <a  class="chat-button" href="/chat/<%= u.id%>" > <i style="margin-right: 3px;" class="fas fa-user-friends"></i><%=u.name%> </a>
        
        <%}%>
    
    </li> 
        </p>
        
            <%}%>
        </ul>
    </div> 
        </section>

<section id="feed-posts">
    <span style="margin-left: 33%;"> <i style="color: #ffc401da; margin-right: 7px;" class="fas fa-portrait"></i>Posts </span>
    <div class="form-of-post">
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST" enctype="multipart/form-data">
        <textarea name="content" cols="30" rows="3" placeholder="CAPTION..."></textarea>
        <!-- <input class="post-pic-choose" type="file" name="pic" placeholder="Picture" > -->
        <input id="post-button" type="submit" value="Post">
    </form>
    <% } %>
    </div>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
               
                             
                <%- include('_post') -%>
            <%} %>

     
        </ul>
    </div>
    </section>
    <section id="features">
      <p class="heading"><i class="fas fa-icons"></i>Features<p>
      <ul>
          <p>
          <li>
              <%if (locals.user){%>
              <a href="/features/todo/<%=user.id%>">
                <i class="far fa-list-alt"></i>Todo List
              </a>
          </li>
        </p>  
          <li>
              <p>
            <a href="/features/calculator">
                <i class="fas fa-calculator"></i> Calculator
            </a>
        </li>
    </p>  
        <% }%>
      </ul>
        <p class="heading"><i class="fas fa-gamepad"></i>Games</p>
        <% if(locals.user){ %>
    <ul>
        <li>
            <a href="/games/pong">
                <i class="fas fa-calculator"></i> Ping pong
            </a>
        </li>
    <P>
        <li>
            <a href="/games/snakes">
                <i class="fas fa-calculator"></i> Snakes
            </a>
        </li>
    </P>
    </ul>
    <%}%>
    </section>
   

      <section id="all-users">
        <h1 class="heading"><i style="color: #ffc401da; margin-right: 7px;" class="fas fa-th-list"></i>All users</h1>
        <form action="/search" method="POST" id="new-search-form">
            <div class="from-design">
            <input type="text" placeholder="search friends" required name="friend">
            <button type="submit"> <i class="fas fa-search"></i></button>
        </div>
        </form>
        <!--  abhi bus controllers se variable bhejke replace karna haa bus -->

        <p class="friends">
            <div id="search-container">
                    <ul>
                        <%for(u of  all_search) {%>
                        <li id="search-list">
                            <%if(u.avatar){%>
                    <img src="<%=u.avatar %>" alt="" width="25" height="25"> 
                <span><a href="/users/profile/<%=u.id%>"> <%=u.name%> </a>  </span>
                <%}else{%>
                    <a href="/users/profile/<%=u.id%>"> <i style="margin-right: 3px;" class="fas fa-user-friends"></i><%=u.name%> </a>
                <%}%>
                </li>
                <%}%> 
                </ul>
        </div>
        </p> 
        
        </section>
        <%- include('_chat_box') -%>
    </div>

</div>
<script src="<%=assetPath('js/home_comments.js')%>"></script>
<script src="<%=assetPath('js/home_posts.js')%>"></script>
<script src="<%=assetPath('js/toggle_likes.js')%>"></script>
<script src="<%=assetPath('js/search.js')%>"></script>


<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%=assetPath('js/chat_engine.js')%>"></script>

<!-- <% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
    <% } %> -->
    <!-- ssh -i ~/Downloads/socio-prod.pem ubuntu@54.90.3.4 -->