<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <%- style %>
    <body>
        <%-include('_header'); %>
        <%-body %>
        <%-include('_footer'); %>

    </body>
    <%- script %>
</html>